:root {
  --bg-primary-color: #bdbdbd;
  --bg-secondary-color: #c0c0c0;
  --border-primary-color: #858585;
  --border-secondary-color: #ffffff;
  --timer-color: #ff0000;
  --bg-timer-color: #000000;
}
